
body{
    font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
    padding: 5px;
   
}

h1 {
  margin-bottom:0;
  text-align:center;
  margin-bottom: 100px;
}

#wrapper {
  width:650px;
  padding:1em;
  margin:2em auto;
  background:white;
  box-shadow:0 5px 10px rgba(0,0,0,.1);
}

.explanation {
  margin-bottom:3em;
  display: inline-block;
}

.chart {
  width:600px;
  padding-left:50px;
  height:300px;
  margin:auto;
  position: relative;
  display:flex;
  justify-content: space-between;
  border-bottom:1px solid lighten(#4183d7,35%);
  
    
  }

  .chart .chartMeasurements {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    text-align:left;
    z-index:1;
  }
    .chart .chartMeasurements .chartMeasurement {
      width:100%;
      flex-grow:1;
      
      border-top:1px solid lighten(#4183d7,35%);
      
     
  
    }
  
    .chart svg {
    position: relative;
    z-index:2;
    
    
  }

  .chart svg path {
    box-shadow:inset 2px 0 red;
    /* fill:rgba(#4183d7,.6); */
    fill:none;
    stroke-width: .5;
    stroke: #4183d7;
  }

  .tooltipMeasure {
    position: absolute;
    background-color: #efeefe;
    border: 1px solid #666666;
    padding: 10px;
    opacity: 0.9;
    border-radius: 5%;
    padding: 10px;
    font-size:10px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.circle {
    background-color: red;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: absolute;
    cursor: pointer;
}
  


